<div class="idea" onmouseover="this.className='idea-hover'" onmouseout="this.className='idea'">
  <div class="content">
    <div>
    	<h2 style="display:inline-block;"><%= link_to idea.title, idea_path(idea) %></h2>
  	</div>
    <p><%= link_to truncate(idea.description, length: 300), idea_path(idea), class: 'idea-text' %></p>
    
    <div style="float:right; font-size:25px;">
    	<span id="<%= dom_id(idea) %>" style=""><%= total_of_votes(idea) %></span>
    	&nbsp;
    	<span class="heart <%= dom_id(idea) %>" style="font-weight: bold;">
	    	<%= link_to_vote(idea) %>
	  	</span>
  	</div>
  </div>
</div>