<div class="box">
  <h1>Boas idéias mudam o mundo&nbsp;<%= fa_icon('lightbulb-o') %></h1>
  <b><i><span class="left text-left"><mark>&nbsp;&nbsp;<%= fa_icon('lightbulb-o') %>&nbsp;Tire suas idéias do papel.&nbsp;&nbsp;</mark></span></i></b>

  <span class="right text-right">
    Compartilhe: <%= fa_icon('facebook') %>&nbsp;<%= fa_icon('twitter') %>
    <%= link_to "Sign Out", signout_path %>
  </span>
</div>

<% @ideas.each do |idea| %>
  <div class="idea" onmouseover="this.className='idea-hover'" onmouseout="this.className='idea'">
    <div class="content">
      <h2><%= link_to idea.title, idea_path(idea) %></h2>
      <p><%= link_to idea.description, idea_path(idea), class: 'idea-text' %></p>
      <span class="heart" style="font-size:25px;"><%= fa_icon('heart') %></span>
    </div>
  </div>
<% end %>