<div class="box">
  <h1>Compartilhe sua Ideia!</h1>
</div>
<div class="box" style="padding:50px;">
  <div class="row">
    <%= form_for @idea, :html => { :class => 'form-horizontal' } do |f| %>
      <div class="col-md-5">
        <h2><mark>&nbsp;Sua Ideia&nbsp;</mark></h2>
        <div class="form-group">
          <%= f.label 'Título' %>
          <div class="controls">
            <%= f.text_field :title, :class => 'form-control', placeholder: 'Título da Ideia' %>
          </div>
        </div>

        <%= f.hidden_field :user_id, value: current_user.id %>

        <div class="form-group">
          <%= f.label 'Descrição' %>
          <div class="controls">
            <%= f.text_area :description, :class => 'form-control', placeholder: 'Descrição', rows: 10 %>
          </div>
        </div>
      </div>
    
      <div class="col-md-5 col-md-offset-1">
        <h2><mark>&nbsp;Informações de contato&nbsp;</mark></h2>
        <div class="form-group">
          <%= f.label 'email' %>
          <div class="controls">
            <%= f.email_field :email, :class => 'form-control', placeholder: 'Seu email' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'telefone' %>
          <div class="controls">
            <%= f.phone_field :telefone, :class => 'form-control', placeholder: 'Seu telefone' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'twitter' %>
          <div class="controls">
            <%= f.text_field :twitter, :class => 'form-control', placeholder: 'Seu twitter' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label 'facebook' %>
          <div class="controls">
            <%= f.text_field :facebook, :class => 'form-control', placeholder: 'Seu facebook' %>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.submit 'Compartilhar', :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => 'Cancelar'), root_path, :class => 'btn btn-default' %>
        </div>
      </div>
    <% end %>
  </div>
</div>