<section class="white">
	<div class="col-lg-12">
		<div class="container">
			<div class="row">
				<div class="text col-sm-7">
					<h1 class="bigger-text">Tenha acesso à um <b>mundo</b> de boas <b>ideias</b>.</h1>
					<div class="center" style="padding: 10px;">
						<%= link_to "/auth/facebook" do %>
							<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Login com Facebook</button>
						<% end %>

						<%= link_to "/auth/twitter" do %>
							<button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Login com Twitter</button>
						<% end %>
					</div>
				</div>
				<div class="illustration col-sm-4 col-sm-offset-1">
					<h1 class="bigger-lamp"><%= fa_icon('lightbulb-o') %></h1>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="orange">
	<div class="col-lg-12">
		<div class="container">
			<div class="row">
				<div class="illustration col-sm-4 col-sm-offset-1">
					<h1 class="big-lamp"><%= fa_icon('lightbulb-o') %></h1>
				</div>
				<div class="text col-sm-7">
					<h1 class="big-text">Grandes <b>ideias merecem</b> sair do papel.</h1>
					<p></p>
					<div class="center" style="padding: 10px;">
						<%= link_to "/auth/facebook" do %>
							<button class="btn btn-facebook"><i class="fa fa-facebook"></i> | Login com Facebook</button>
						<% end %>

						<%= link_to "/auth/twitter" do %>
							<button class="btn btn-twitter"><i class="fa fa-twitter"></i> | Login com Twitter</button>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="blue">
	<div class="col-lg-12">
		<div class="container">
			<div class="row">
				<h1 class="text-center"><b>SONHE</b>, compartilhe, <b>EXECUTE</b></h1>
				<p>Sabe aquelas ideias: "poderia ter um livro sobre x, e se tivesse um lugar y, ou um site w" essas ideias que a gente tem que seriam super legais mas acaba deixando pra lá! Pois bem, o agregadordeideias.com, é o lugar para divulgar suas ideias para que pessoas com as habilidades necessárias possam te ajudar a executar, tirar esta ideia do papel, fazer acontecer e transforma a vida de muita gente.</p>
				<center><%= image_tag 'preview.png', class: 'img-responsive' %></center>
			</div>
		</div>
	</div>
</section>

<section class="pink">
	<div class="col-lg-12">
		<div class="container">
			<div class="row">
				<h1 class="text-center"><b>FAÇA PARTE</b></h1>
				<p>Teve uma ideia mas não sabe nem por onde começar? Obtenha feedback e apoio para executar suas ideias mais mirabolantes. Gostou de alguma ideia, quer ajudar a executar? Entre em contato com o autor e bote a mão na massa. Nós te ajudamos a organizar e executar sua ideia. Confira nossa página de execução.</p>
				<center><%= image_tag 'preview2.jpg', class: 'img-responsive' %></center>
			</div>
		</div>
	</div>
</section>

<footer>
	<center><h2><mark>&nbsp;&nbsp;&nbsp;Gente boa transforma o <b>mundo</b> com boas <b>ideias</b>!&nbsp;&nbsp;&nbsp;</mark></h2></center>
</footer>