<!-- Container -->
<div class="container" id="explore"> 
  <!-- Hero Image -->
  <div class="section-title">
    <h2>Grandes ideias merecem sair do papel</h2>
    <h4>Colabore com boas ideias, construa, desenvolva</h4>
  </div>
  <section class="row heroimg breath">
    <div class="col-md-12 text-center"> <%= image_tag "preview.png", alt: "Boas-ideias-imagem" %></div>
  </section>
  <!-- //Hero Image --> 
  
  <!-- Features Section -->
  <div class="section-title">
    <h2>As melhores ideias devem ser executadas</h2>
    <h4>Nas mais diversas areas. Grandes ideias merecem sair do papel.</h4>
  </div>
  <section class="row features"> 
    <!-- Feature 01 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <%= image_tag "flat-feature-icon-1.png", alt: "analytics-icon" %>
        <div class="caption">
          <h3>Educação</h3>
          <p>Colabore com a edução do país, contribua para uma educação melhor.</p>
        </div>
      </div>
    </div>
    
    <!-- Feature 02 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <%= image_tag "flat-feature-icon-2.png", alt: "analytics-icon" %>
        <div class="caption">
          <h3>Social</h3>
          <p>Adentre o terceiro setor, ajude a alavancar os melhores e mais promissores projetos da area.</p>
        </div>
      </div>
    </div>
    
    <!-- Feature 03 -->
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <%= image_tag "flat-feature-icon-3.png", alt: "analytics-icon" %>
        <div class="caption">
          <h3>Tecnologia</h3>
          <p>Idealize, crie e compartilhe apps e websites que revolucionarão o planeta.</p>
        </div>
      </div>
    </div>
    
    <!-- Feature 04 -->
    
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail"> <%= image_tag "flat-feature-icon-4.png", alt: "analytics-icon" %>
        <div class="caption">
          <h3>Network</h3>
          <p>Conectesse. Discuta ideias, aprenda, ensine com quem deseja fazer a diferença.</p>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- // Container Ends --> 

<!-- Grey Highlight Section -->
<div class="highlight testimonials">
  <div class="container"> 
    
    <!-- Testimonials -->
    <div class="section-title">
      <h2>Feito por pessoas</h2>
      <h4>Para pessoas, Não fique de fora. Faça Parte</h4>
    </div>
    <section class="row breath">
      <div class="col-md-8 col-md-offset-2">
        <div class="testblock"> Teve uma ideia mas não sabe nem por onde começar? Obtenha feedback e apoio para executar suas ideias mais mirabolantes. Gostou de alguma ideia, quer ajudar a executar? Entre em contato com o autor e bote a mão na massa. Nós te ajudamos a organizar e executar sua ideia.</div>
        <div class="clientblock"> <%= image_tag "gil.jpeg", alt: "." %>
          <p><strong>Gil Gomes</strong> <br>
            Web Developer na <a href="www.flexait.com.br">Flexa IT</a></p>
        </div>
      </div>
    </section>
    <!-- // End Testimonials --> 
  </div>
</div>
<!-- // End Grey Highlight Section --> 
