<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Agregador de Ideias" %></title>

    <meta name="Description" content="<%= content_for?(:description) ? yield(:description) : "Teve uma ideia mas não sabe nem por onde começar? O agregadordeideias.com, é o lugar para divulgar suas ideias e suas habilidades para que mais ideias saim do papel e possam sair do papel e causar impacto. Não tem ideias? Colabore com suas habilidades e ajude a executar e tirar ideias do papel, faça acontecer, transforme e cause um grande impacto." %>" />
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "public", :media => "all", "data-turbolinks-track" => true %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%#= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

  </head>
  <body>
    <div class="preloader"></div>
    <!-- Parallax Header Starts -->
    <main id="top" class="masthead" role="main">
      <div class="container"> 
        <!-- Startup Logo -->
        <div class="logo"> <a href="#"><%= image_tag "startup-template-logo.png", alt: "startup-logo" %></a> </div>
        <!-- Hero Title -->
        <h1>Tenha Acesso á <strong>Grandes</strong> ideias<br>
        <span data-typer-targets="Inove,Colabore,Participe,Compartilhe,Aprenda,Execute">Effect</span>, <strong>Transforme</strong> o mundo com <strong>ideias</strong></h1>
        <!-- Mailchimp Subscribe form -->
        <div class="row">
          <div class="col-md-6 col-sm-12 col-md-offset-3 subscribe">
            gil
            <span id="result" class="alertMsg"></span> </div>
        </div>
        <!-- // Mailchimp Subscribe form Ends --> 
        <!--  Scroll to Explore --> 
        <a href="#explore" class="scrollto">
        <p>CONHEÇA MAIS, EXPLORE</p>
        <p class="scrollto--arrow"><%= image_tag "scroll_down.png", alt: "scroll down arrow" %></p>
        </a> 
        <!-- // Scroll to Explore Ends --> 
      </div>
    </main>
    <!-- // Parallax Header Ends --> 

    <%= bootstrap_flash %>
    <%= yield %>


    <!-- Parallax Footer Starts -->
    <main class="footercta" role="main">
      <div class="container"> 
        
        <!-- Hero Title -->

        <h1>Gente boa transforma o mundo.<br >
        <strong>Impacte</strong> com colaboração e <strong>boas ideias</strong></h1>
        <!-- Mailchimp Subscribe form -->
        <div class="row">
          <div class="col-md-12 breath text-center"> <a href="#top" class="btn btn-success btn-lg gototop">ACESSE AGORA</a> </div>
        </div>
      </div>
    </main>
    <!-- // Parallax Footer Ends --> 

    <!-- Container -->
    <div class="container">
      <section class="row breath">
        <div class="col-md-12 footerlinks">
          <p>&copy; 2014 Gil Gomes. All Rights Reserved</p>
        </div>
      </section>
      <!-- // End Client Logos --> 
      
    </div>
    <!-- // Container Ends --> 

    <!-- JS and analytics only. --> 
    <!-- Bootstrap core JavaScript
    ================================================== --> 
    <!-- Placed at the end of the document so the pages load faster --> 
    <!-- 
    <script src="js/jquery.js"></script> 
    <script src="js/bootstrap.js"></script> 
    <script src="js/easing.js"></script> 
    <script src="js/typer.js"></script> 
    <script src="js/nicescroll.js"></script> 
    <script src="js/ketchup.all.js"></script> 
 -->
    <!-- Typer --> 

    <script>
        $(function () {
          $('[data-typer-targets]').typer();
        });
      </script> 

    <!-- Scroll to Explore --> 

    <script>


     $(function() {
        $('.scrollto, .gototop').bind('click',function(event){
         var $anchor = $(this);
         $('html, body').stop().animate({
             scrollTop: $($anchor.attr('href')).offset().top
              }, 1500,'easeInOutExpo');
         event.preventDefault();
          });
      });
            

    </script>


    <!--============== SUBSCRIBE FORM =================--> 

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56333641-1', 'auto');
      ga('send', 'pageview');
    </script>

  </body>
</html>
